<!-- HEADER - MOBILE -->
<div id="header-mobile" class="rani-header-mobile">
    <div class="rani-header-mobile-menu">
        <img style="height: 75px; width: 75px;" src="../assets/rani1.png" alt="..." />


        <a (click)="toogleMenu()">
            <span class="icon icon-menu-mobile">
            </span>
        </a>

    </div>

    <div [ngClass]="{'rani-header-mobile-menu-opened': menuOpened}" class="rani-header-mobile-menu-closed">
        <a href="">HOME</a>
        <a href="javascript://">ABOUT ME</a>
        <a href="javascript://">LATEST HITS</a>
        <a href="javascript://">SHOP</a>
        <a href="javascript://">CONTACT</a>
    </div>



    <!-- <div id="header-main-menu" class="rani-header-menu-container">
            <a href="">HOME</a>
            <a href="javascript://">ABOUT ME</a>
            <a href="javascript://">LATEST HITS</a>
            <a href="javascript://">SHOP</a>
            <a href="javascript://">CONTACT</a>
    
        </div> -->
</div>


<!-- HEADER - MAIN -->
<div id="header-main" class="rani-header">
    <div class="rani-header-logo-container">
        <img style="height: 200px; width: 200px;" src="../assets/rani1.png" alt="..." />
    </div>

    <div id="header-main-menu" class="rani-header-menu-container">
        <a href="">HOME</a>
        <a href="javascript://">ABOUT ME</a>
        <a href="javascript://">LATEST HITS</a>
        <a href="javascript://">SHOP</a>
        <a href="javascript://">CONTACT</a>

    </div>
</div>

<!-- HEADER - FIXED -->
<div id="header-fixed" class="rani-header-sticky">
    <div id="header-fixed-container" class="rani-header-sticky-container">
        <div class="rani-header-sticky-logo-container">
            <img id="header-fixed-logo" style="height: 100px; width: 100px;" src="../assets/rani1.png" alt="..." />
        </div>
        <div class="rani-header-sticky-menu-container">
            <a href="">HOME</a>
            <a href="javascript://">ABOUT ME</a>
            <a href="javascript://">LATEST HITS</a>
            <a href="javascript://">SHOP</a>
            <a href="javascript://">CONTACT</a>

        </div>
        <div class="rani-header-sticky-social-media-container">
            <a href="https://www.youtube.com/channel/UC73OeIqekX3HE5mAMMIHSdg" target="_blank">
                <span class="icon icon-youtube">
                </span>
            </a>




            <!-- <img id="youtube" src="../assets/youtube.svg" /> -->
            <img style="height: 20px; width: 20px; " src="../assets/instagram.svg" />
        </div>
    </div>

</div>

<div style="background-color: rgba(204, 204, 204, 0.25);">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

</div>

<!-- </div> -->

<!-- <div class="clr-row">

        </div> -->
<!-- <div class="branding">
            ...
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
            <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
        </div>
      <div class="header-actions">
                    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
                        <clr-icon shape="cog"></clr-icon>
                    </a>
                </div> -->
<!-- </header> -->




<!-- <main class="content-container">
        <div class="content-area">
            <div class="clr-row">

                <div class="clr-col-lg-3 clr-col-12">
                    <a href="..." class="card clickable">
                        <div class="card-img">
                            <img src="https://www.soufisio.com.br/wp-content/uploads/2018/02/fisioterapia-idosos.jpg" alt="..." />
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                ...
                            </p>
                        </div>
                    </a>
                </div>
            </div>



        </div>     


    </main> -->
<!-- </div> -->

<!-- <div class="clr-row clr-justify-content-center"> -->
<!-- <div class="clr-col-lg-8">
            <router-outlet></router-outlet>
        </div> -->



<!-- </clr-header> -->



<!-- <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            Blonde Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(1)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div>

                <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            APA Amarillo Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails2}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(2)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div>


                <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            Red Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails3}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(3)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div> -->



<!-- </div> -->




<!-- </clr-main-container> -->