<clr-main-container>
    <clr-header>



        <div class="header-nav" [clr-nav-level]="1">
            <div class="branding">
                <!-- <a href="javascript://" class="active nav-link nav-text">Receitas</a> -->
            </div>
            <a href="javascript://" class="active nav-link nav-text">Receitas</a>
            <!-- <a href="javascript://" class="nav-link nav-text">Produzir</a> -->
        </div>
        <!-- <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div> -->

    </clr-header>
    <div class="content-container">

        <main class="content-area">
            <div class="clr-row">
                <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            Blonde Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(1)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div>

                <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            APA Amarillo Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails2}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(2)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div>


                <div class="clr-col-sm-1 clr-col-lg-3">


                    <div class="card">
                        <div class="card-header">
                            Red Ale
                        </div>
                        <div class="card-block" [ngClass]="{'details-collapsed': !showDetails3}">

                            <div class="card-text">
                                9 kg - Pilsen <br>
                                1 kg - Malte Carahell <br>
                                2 kg - Malte CaraGold <br>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="detailsAction(3)">Detalhes</button>
                            <button class="btn btn-sm btn-link">Produzir</button>
                        </div>
                    </div>
                </div>


                
            </div>



        </main>

    </div>
</clr-main-container>